<div class="alert alert-success col-6 offset-2 fade show" role="alert">
    <div class="row">
        <div class="col-9">
            <h4 class="alert-heading" id="alertHeader"></h4>
        </div>
        <div class="col-1 offset-2">
            <button type="button" class="btn-close" aria-label="Close"><i class="demo-icon icon-cancel"></i></button>
        </div>
        <p class="col-12" id="alertContent"></p>
        <div class="col-12" id="alertConfirmation">
            <button class="col-4 btn btn-outline-primary" id="alertYes">Yes</button>
            <button class="col-4 offset-3 btn btn-outline-danger" id="alertNo">No</button>
        </div>
    </div>
</div>

{% for alert in app.flashes('alert') %}
    <input
            id="alertInputHolder"
            type="hidden"
            class="d-none"
            data-message="{{ alert.message }}"
            data-status="{{ alert.status }}"
            data-header="{{ alert.header }}"
    >
{% endfor %}
