<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title ?? "WeCraft - free mineraft servers" }}</title>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="container-fluid">
    <div class="row-fluid">
        {{ include('layouts/nav.html.twig') }}
    </div>

    <main class="row-fluid">
        <div class="main">
            <div class="row">

                {% block content %}{% endblock %}

            </div>
        </div>


        {% if app.request.attributes.get('_route') != 'terms_of_use' %}
            <div class="modal" style="margin-top:10vh;" id="termsModal" aria-labelledby="termsModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="termsModalLabel">Agree to Terms of Service</h5>
                            <button type="button" class="btn-close btn-close-modal-tos" aria-label="Close"><i class="demo-icon icon-cancel"></i></button>
                        </div>
                        <div class="modal-body">
                            Accepting this modal means you agree to the terms of service and allows us to store cookies on your device.<br>
                            You can find details about our terms of service <a class="special" href="/terms_of_use">here</a>.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger btn-close-modal-tos">Close</button>
                            <button type="button" id="confirmAgreeButton" class="btn btn-primary btn-outline-primary">Agree</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </main>
</div>
</body>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
