<nav class="nav col-12" id="mainNav">
    <div class="logo col-3">
        <a href="{{ url('index') }}"><h2>WeCraft</h2></a>
    </div>
    <div class="col-4 offset-4 menu-items">
        <div class="col-4"><a href="{{ url('index') }}#about"><button class="btn btn-outline-primary col-12">About</button></a></div>
        <div class="col-4"><a href="{{ url('pricing') }}"><button class="btn btn-outline-primary col-12">Pricing</button></a></div>
        <div class="col-4"><a href="{{ url('user_management') }}"><button class="btn btn-outline-primary col-12">Account</a></div>
    </div>
</nav>
