<nav class="nav col-12 text-center" id="sideNav">
    <div class="row">
        <div class="logo col-8 offset-2">
            <a href="{{ url('server_preview') }}"><h2>WeCraft</h2></a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 navOptions">
            <div class="col-12 navItem">
                <a href="{{ url('server_preview') }}"><p>Server preview</p></a>
            </div>
            <div class="col-12 navItem">
                <p>Server status</p>
            </div>
            <div class="col-12 navItem">
                <p>Players</p>
            </div>
            <div class="col-12 navItem">
                <p>Mods</p>
            </div>
            <div class="col-12 navItem">
                <p>Advanced</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="col-12 navItem">
                <p>My account</p>
            </div>
        </div>
    </div>
</nav>
