{% extends('layouts/app.html.twig') %}

{% block content %}

    <div class="row">
        <div class="col-12 createNewServer text-center">
            <p class="title">Update server properties</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
