// Body
$body-bg-main: rgb(35, 45, 63);
$body-bg-secondary: rgb(15, 15, 15);
$font-color: rgb(1, 173, 150);
$font-color-secondary: rgb(255, 255, 255);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$error: rgb(255, 104, 104);
$okay: rgb(142, 255, 90);
$info: rgb(104, 180, 255);
