{% extends('layouts/app.html.twig') %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <p class="title text-center">Advanced settings</p>
            <div class="col-12 d-inline-flex">
                <div class="col-6">
                    <p class="subTitle text-center">Server properties</p>
                    <a href="{{ url('config_update') }}"><button class="col-4 offset-4 btn btn-outline-primary"><span>Update Config</span></button></a>
                </div>
                <div class="col-6">
                    <p class="subTitle text-center">Backups</p>
                    <a href="{{ url('backup_list') }}"><button class="col-4 offset-4 btn btn-outline-primary"><span>Menage backups</span></button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
