{% extends('layouts/app.html.twig') %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="col-4">
                <a href="{{ url('config_update') }}"><button class="col-12 btn btn-outline-primary"><span>Update Config</span></button></a>
            </div>
        </div>
    </div>

{% endblock %}
