{% extends('layouts/app.html.twig') %}

{% block content %}

    <div class="row">
        <div class="col-8 offset-2 text-center">
            <p class="title">Server preview</p>
        </div>
        <div class="col-12 serverManagement">
            <div class="col-6 text-center serverStatus">
                <p>Server status</p>
                <div class="col-12">
                    <button data-message="Are you sure you want to set server online?"
                            data-url="{{ url('server_start') }}"
                            data-confirmation="true"
                            class="confirmation col-5 btn btn-outline-primary {% if user.server.status is same as ('online') %} active {% endif %}"
                            id="setServerOnline">
                        Online
                    </button>
                    <button data-message="Are you sure you want to set server offline"
                            data-url="{{ url('server_shutdown') }}"
                            data-confirmation="false"
                            class="confirmation col-5 btn btn-outline-danger {% if user.server.status is same as ('offline') %} active {% endif %}"
                            id="setServerOffline">
                        Offline
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}