{% extends('layouts/app.html.twig') %}

{% block content %}

    <div class="col-12 text-center mainDescription">
        <p class="title">These servers are (and will be) free</p>
        <p>You don't pay to play alone nor friends. No need to pay to have joy of full server management</p>
    </div>

{% endblock %}