{% extends('layouts/landing.html.twig') %}

{% block content %}

    <div class="col-12 text-center mainDescription">
        <h1 class="title">Terms of Service</h1>
        <p>Welcome to our Minecraft webpage. By accessing or using our website, you agree to comply with and be bound by the following terms and conditions. If you do not agree to these terms, please do not use this site.</p>

        <h2 class="subTitle">1. Ownership and Control</h2>
        <p>All content, items, and features on this website are owned and managed by us. We reserve the right to remove, modify, or delete any content or items at our sole discretion, without notice or explanation.</p>

        <h2 class="subTitle">2. User Conduct</h2>
        <p>You agree to use this website responsibly and in accordance with applicable laws. We are not responsible for any actions you take while using our website or for any consequences arising from such actions.</p>

        <h2 class="subTitle">3. Limitation of Liability</h2>
        <p>We are not liable for any loss, damage, or harm resulting from your use of this website or any interactions with other users. You use this website at your own risk.</p>

        <h2 class="subTitle">4. Termination of Access</h2>
        <p>We reserve the right to suspend or terminate your access to the website at any time for any reason, including but not limited to violations of these Terms of Service.</p>

        <h2 class="subTitle">5. Changes to Terms</h2>
        <p>We may update these Terms of Service at any time. It is your responsibility to review these terms periodically. Continued use of the website after changes are posted constitutes your acceptance of the updated terms.</p>

        <h2 class="subTitle">6. Contact Us</h2>
        <p>If you have any questions about these Terms of Service, please contact us at <a class="special" href="https://github.com/Sliwekok/minecraftWebapp" target="_blank">GitHub page</a>.</p>

        <p>Last Updated: 28-12-2024</p>
    </div>

{% endblock %}
